[MESSAGES CONTROL]
disable=I,
    missing-docstring,
    redefined-outer-name,
    redefined-builtin,
    no-self-use,
    too-few-public-methods

[REPORTS]
reports=no

[BASIC]
# valid names
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__)|([a-z_][a-z0-9_]{1,60}))$
argument-rgx=[a-z_][a-z0-9_]{0,30}$
variable-rgx=([a-z_][a-z0-9_]{0,30}|[A-Z_][A-Z0-9_]{0,30})$
attr-rgx=[a-z_][a-z0-9_]{0,30}$
inlinevar-rgx=[A-Za-z_][A-Za-z0-9_]*$
method-rgx=[a-z_][a-z0-9_]{1,30}$
function-rgx=[a-z_][a-z0-9_]{1,60}$
class-attribute-rgx=([A-Za-z_][A-Za-z0-9_]{1,30}|(__.*__))$
class-rgx=[A-Z_][a-zA-Z0-9]+$
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$

# function or class names that do not require a docstring
no-docstring-rgx=^_
# min line length for functions/classes to require docstring
docstring-min-length=10

[FORMAT]
max-line-length=100
ignore-long-lines=^\s*(# )?<?https?://\S+>?$
max-module-lines=200

[VARIABLES]
# do not check for unused import in __init__ files
init-import=no
dummy-variables-rgx=(_+[a-zA-Z0-9]*?$)|dummy
