astroid==1.4.8
decorator==4.0.11
invoke==0.13.0
ipython==5.3.0
ipython-genutils==0.2.0
isort==4.2.5
lazy-object-proxy==1.2.2
mccabe==0.5.2
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
ptyprocess==0.5.1
py==1.4.31
Pygments==2.2.0
pylint==1.6.4
pyrsistent==0.12.1
pytest==2.9.2
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
wcwidth==0.1.7
wrapt==1.10.8
